@model mvc.Models.ProductModel

@{
    Layout = "_Layout";
}
<div style="background: red; margin: 30px; padding: 30px">
    <h1>Xin chao @Model.Name</h1>
    <p>Gia san pham: @Model.Price</p>
</div>
<hr>
@this.Path