@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}
<h1>Razor la gi</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sed eveniet aut aliquid corporis illum, assumenda quaerat quas molestiae at molestias rem vel eum explicabo perferendis totam ex mollitia minus!</p>